@import "utilities.less";
body {
  background-color: #edf0f2 !important;
}

#main_wrapper {
  .page {
    div {
      background-color: #fff;
      .box-shadow(1px 1px 3px gray);
      &[class*="cnn"]{
        background: #fff url('../img/cnn.png') no-repeat 96% 0;
      }
      &[class*="digg"]{
        background: #fff url('../img/dig.png') no-repeat 96% 0;
      }
    }
  }
}
#bottom_menu {
  background-color: #d5dbdf;
  .upper-blob {
    background-color: #d5dbdf;
  }
}
.switch {

  float: none !important;
  width: 100%;


  ul {
    float: none !important;
    margin: 60px auto;
    padding: 0;
    width: 550px !important;
  }
  li {
    border: 0px solid #ccc !important;
    color: #fff;
    text-transform: uppercase;
    padding-left: 43px !important;
    padding-top: 19px !important;

  }
  .slide-icon {
    background: #9aca54 url('../img/icon-slide.png') no-repeat 6px 3px;
  }
  .card-icon {
    background: #9aca54 url('../img/icon-cards.png') no-repeat 6px 3px;
  }
  .circular-icon {
    background: #9aca54 url('../img/icon-circular.png') no-repeat 6px 3px;
  }
}


.header {
  background: url('../img/header.png') no-repeat 0px -75px;
  background-size: 100%;
}


#main_wrapper .page div {
  width: 30% !important;
  float: left;
  padding: 20px;
  margin: 10px !important;

  height: 280px !important;
  overflow: hidden;
}



.cursor {
  width: 20px !important;
  height: 20px !important;
  border-radius: 20px !important;
  background-color: rgba(0,0,0,0.4)  !important;
  position: absolute;
  border: 1px solid rgba(0,0,0,0.7);
  z-index: 9999;
}