@import "utilities.less";
// The bottom menu with the blob
#bottom_menu {
  background-color: #d5dbdf;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  .upper-blob {
    position: absolute;
    top: -11px;
    width: 130px;
    height: 25px;
    .rounded(50%);
    background-color: #d5dbdf;
  }
}
//main page where all the pages are
#main_wrapper {
  position: relative;
  width: 900px;
  margin: 0 auto;
  .page.active {
    display: block;
  }
  ul.carousel {
    width: 5400px;
    height: 100%;
    overflow: hidden;
    li {
      width: 900px;
      float: left;
      height: 100%;
    }
  }
  ul.hexagon {
    position: absolute;
    top:100px;
    left: 50%;
    .perspective(1200px);
    li {
      border: 1px solid black;
      width: 200px;
      height: 200px;
    }
    .a {
      background-color: #961717;
    }
    .b {
      .transform(translatex(-150px) rotatey(120deg)translatey(-155px));
      background-color: #2d80ab;
    }
    .c {
      .transform(translatex(145px) rotatey(-120deg) translatey(-355px));
      background-color: #5324cb;
    }
    .d {
      .transform(translatex(-125px) rotatey(240deg) translatey(-480px));
      background-color: #2e9d2b;
    }
    .e {
      background-color: #ce7c1c;
      .transform(translatey(-650px)translatex(30px));
    }
    .f {
      .transform(translatex(160px) rotatey(-260deg) translateY(-880px));
      background-color: #45b9c0;
    }
  }
}