@import "utilities.less";
// The bottom menu with the blob
#bottom_menu {
  background-color: #d5dbdf;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  .upper-blob {
    position: absolute;
    top: -11px;
    width: 130px;
    height: 25px;
    .rounded(50%);
    background-color: #d5dbdf;
  }
}
//main page where all the pages are
#main_wrapper {
  position: relative;
  .page.active {
    display: block;
  }
  ul.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    li {
      float: left;
      width: 100%;
      height: 100%;
    }
  }
}